@model List<Student> 

@{
    var s = TempData["student"];
    dynamic sObject = Newtonsoft.Json.JsonConvert.DeserializeObject(s.ToString());
    ViewData["Title"] = "Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>@sObject.name</p>

<h1>Employee</h1>

<div class="container">
    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.FirstOrDefault().Id" value="" />
        <div class="form-group">
            <label>Name</label>
            <input asp-for="@Model.FirstOrDefault().name" value="" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-hover">
                @if (Model != null)
                {
                    <thead>
                    <th>Name</th>
                    <th>Action</th>
                    </thead>
                    @foreach (var student in Model)
                    {
                        <tr>
                            <td>@student.name</td>
                            <td>
                                <div class="row">
                                    <form asp-action="Edit" method="post">
                                        <input type="hidden" name="id" value="@student.Id" />
                                        <button type="submit" class="btn btn-primary">Edit</button>
                                    </form>

                                    <form asp-action="Delete" method="post" class="ml-1">
                                        <input type="hidden" name="id" value="@student.Id" />
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>

                            </td>
                        </tr>
                    }
                }
            </table>
        </div>

    </div>

</div>

